/* 主题: 粉色少女 */
#wenyan {
    background-color: #fff7f9;
    --wy-text-color: #333;
    --wy-strong-color: #d81b60;
    --wy-h1-color: #d81b60;
    --wy-h2-color: #d81b60;
    --wy-h3-color: #d81b60;
    --wy-bq-bg: #fdf4f6;
    --wy-bq-border: 4px solid #d81b60;
    --wy-bq-color: #333;
    --wy-code-block-bg: #fef3f6;
    --wy-code-block-color: #d81b60;
    --wy-code-inline-color: #d81b60;
    --wy-link-color: #d81b60;
    --wy-link-border: 1px solid #d81b60;
    --wy-table-th-bg: #fdf4f6;
    --wy-hr-border: 1px solid #d81b60;
}
