/* 主题: 草地绿 */
#wenyan {
    background-color: #fcfffb;
    --wy-text-color: #333;
    --wy-strong-color: #2e7d32;
    --wy-h1-color: #2e7d32;
    --wy-h2-color: #2e7d32;
    --wy-h3-color: #2e7d32;
    --wy-bq-bg: #f4f9f4;
    --wy-bq-border: 4px solid #2e7d32;
    --wy-bq-color: #333;
    --wy-code-block-bg: #f4f8f4;
    --wy-code-block-color: #2e7d32;
    --wy-code-inline-color: #2e7d32;
    --wy-link-color: #2e7d32;
    --wy-link-border: 1px solid #2e7d32;
    --wy-table-th-bg: #f4f9f4;
    --wy-hr-border: 1px solid #2e7d32;
}
