/* 主题: 鹦鹉蓝 */
#wenyan {
    background-color: white;
    --wy-text-color: #333;
    --wy-strong-color: #1988FC;
    --wy-h1-color: #1988FC;
    --wy-h2-color: #1988FC;
    --wy-h3-color: #1988FC;
    --wy-bq-bg: rgba(25,136,252,0.06);
    --wy-bq-border: 4px solid #1988FC;
    --wy-bq-color: #333;
    --wy-code-block-bg: #f6f8fa;
    --wy-code-block-color: #1988FC;
    --wy-code-inline-color: #1988FC;
    --wy-link-color: #1988FC;
    --wy-link-border: 1px solid #1988FC;
    --wy-table-th-bg: rgba(25,136,252,0.06);
    --wy-hr-border: 1px solid #1988FC;
}
