/* 主题: 冬日蓝 */
#wenyan {
    background-color: #f8fbfc;
    --wy-text-color: #333;
    --wy-strong-color: #1a5276;
    --wy-h1-color: #1a5276;
    --wy-h2-color: #1a5276;
    --wy-h3-color: #1a5276;
    --wy-bq-bg: #f0f6fa;
    --wy-bq-border: 4px solid #1a5276;
    --wy-bq-color: #333;
    --wy-code-block-bg: #f2f7fa;
    --wy-code-block-color: #1a5276;
    --wy-code-inline-color: #1a5276;
    --wy-link-color: #1a5276;
    --wy-link-border: 1px solid #1a5276;
    --wy-table-th-bg: #f0f6fa;
    --wy-hr-border: 1px solid #1a5276;
}
